@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
  @apply overflow-x-hidden w-full min-h-screen;
  font-family: var(--font-ibm-plex-sans), system-ui, sans-serif;
}

@layer components {
  /* Body text */
  .text-body-m {
    font-size: 16px;
    font-family: var(--font-ibm-plex-sans);
    font-weight: 300;
    letter-spacing: 0em;
    line-height: 23px;
  }

  .text-body-s {
    font-size: 14px;
    font-family: var(--font-ibm-plex-sans);
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 22px;
  }

  .text-body-xs {
    font-size: 12px;
    font-family: var(--font-ibm-plex-sans);
    font-weight: 400;
    letter-spacing: 0.03em;
  }

  /* Headings */
  .text-heading-l {
    font-size: 20px;
    font-family: var(--font-playfair-display);
    font-weight: 400;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  .text-heading-xl {
    font-size: 24px;
    font-family: var(--font-playfair-display);
    font-weight: 200;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  /* Buttons */
  .text-button-s {
    font-size: 14px;
    font-family: var(--font-ibm-plex-sans);
    font-weight: 500;
    letter-spacing: 0em;
    text-transform: uppercase;
  }

  /* Labels */
  .text-label-xs {
    font-size: 12px;
    font-family: var(--font-ibm-plex-sans);
    font-weight: 400;
    letter-spacing: 0em;
  }

  .text-label-s {
    font-size: 14px;
    font-family: var(--font-ibm-plex-sans);
    font-weight: 400;
    letter-spacing: 0.03em;
  }

  .text-label-m {
    font-size: 16px;
    font-family: var(--font-ibm-plex-sans);
    font-weight: 400;
    letter-spacing: 0.03em;
  }

  .text-label-l {
    font-size: 20px;
    font-family: var(--font-ibm-plex-sans);
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

::-webkit-scrollbar {
    display: none;
  }

/* ----------------------------SWIPER--------------------------- */
.swiper-button-next,
.swiper-button-prev {
  color: transparent !important; /* Ändrar färg på pilarna */
  background-color: transparent; /* Halvtransparent svart bakgrund */
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Mörkare vid hover */
}

/* Ändra färg på pagination-dots */
.swiper-pagination-bullet {
  background: white !important; /* Standardfärg på prickarna */
  opacity: 0.6; /* Lite genomskinliga */
}

.swiper-pagination-bullet-active {
  background: #ffffff !important; /* Aktiv punkt i en gul färg */
  opacity: 1;
}
